body {
  background-color: rgb(64, 187, 179);
}
.search {
  text-align: center;
  background-color: aquamarine;
  padding-top: 50px;
  padding-bottom: 50px;
}
.glass {
  height: 200px;
  width: 200px;
}
